:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: block; 
  min-width: 320px;
  min-height: 100vh;
}
header{
  color: #991818;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  margin: 80px;
  padding: 100px;

}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 8px 0px;
 
}



.btn:hover {
  border-color: #646cff;
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.navbarDiv{
  display: flex;
  justify-content: center;
  gap: 20px;
  justify-content: center;
  
}

.navbarDiv {
  width: 100%;
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
}

.bookContainer{
  display: flex;
  justify-content: center;
  background-color: #d6d7ea;
  flex-wrap: wrap;
}
.bookCard{
  margin: 100px;
  padding: 10px;
}

/* Book Details Container CSS ***/

.book-details-container {
  padding: 2rem;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px; /* Adjust width as needed */
  margin: 50px auto; /* Centers it horizontally */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content inside */
}
.book-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.book-details-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}

.book-cover .book-image {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.book-info .form-group {
  margin-bottom: 1.5rem;
}

.book-info .form-group label {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #444;
  margin-bottom: 0.5rem;
}

.book-info .form-group .icon {
  margin-right: 0.5rem;
  color: #007bff;
}

.book-info .form-control {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
}

.additional-details {
  margin-top: 2rem;
}
.additional-details h4 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.additional-details p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 0.5rem;
}
